---
page_title: "{{.Name}} {{.Type}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }} 